/* Style based on Universal Windows Platform
 * See https://docs.microsoft.com/en-us/windows/uwp/design/
 */

.root {
  -fx-font-family: Verdana;

  /* Default style from Type Ramp Body */
  -fx-font-size: 14px;
  -fx-font-weight: 400; /* regular */
}

/* Screen sizes and breakpoints
 * See https://docs.microsoft.com/en-us/windows/uwp/design/layout/screen-sizes-and-breakpoints-for-responsive-design#general-recommendations
 */

.large-window {
  -fx-padding: 24px 24px 24px 24px;
}

.small-window {
  -fx-padding: 12px 12px 12px 12px;
}

/* Command bar
 * See https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/app-bars#anatomy
 */

.command-bar {
  -fx-spacing: 8px;
  -fx-alignment: center-right;
}

.command-bar .separator {
  -fx-orientation: vertical;
}

/* Forms
 * See https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/forms#layout
 */

.input-control-group {
  -fx-padding: 24px 0 24px 0;
  -fx-spacing: 24px;
}

.input-control {
  -fx-spacing: 8px;
}

/* Type Ramp
 * See https://docs.microsoft.com/en-us/windows/uwp/design/style/typography#hierarchy
 */

.header {
  -fx-font-size: 46px;
  -fx-font-weight: 100; /* light */
}

.label.header {
  -fx-label-padding: 5px 0 5px 0;
}

.subheader {
  -fx-font-size: 34px;
  -fx-font-weight: 100; /* light */
}

.label.subheader {
  -fx-label-padding: 3px 0 3px 0;
}

.title {
  -fx-font-size: 24px;
  -fx-font-weight: 200; /* semilight */
}

.label.title {
  -fx-label-padding: 2px 0 2px 0;
}

.subtitle {
  -fx-font-size: 20px;
  -fx-font-weight: 400; /* regular */
}

.label.subtitle {
  -fx-label-padding: 2px 0 2px 0;
}

.base {
  -fx-font-size: 14px;
  -fx-font-weight: 600; /* semibold */
}

.label.base {
  -fx-label-padding: 3px 0 3px 0;
}

.body {
  -fx-font-size: 14;
  -fx-font-weight: 400; /* regular */
}

.label.body {
  -fx-label-padding: 3px 0 3px 0;
}

.caption {
  -fx-font-size: 12px;
  -fx-font-weight: 400; /* regular */
}

.label.caption {
  -fx-label-padding: 1px 0 1px 0;
}
